page-projectschedule {

    .listing.border-bottom .item-block {
        padding-top: 5px;
        padding-bottom: 5px;
        &:last-child {
            border-bottom: 1px solid color($colors, grey-line);
        }
    }


}
