<ion-header>
  <ion-navbar>
    <!--<ion-buttons right>
      <button ion-button icon-only (click)="addProject()">
        <ion-icon name="ios-add"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-title>My Project List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list no-lines class="listing timeline border-bottom">
    <ion-item-group>
      <button ion-item *ngFor="let item of listofItems" (click)="viewDetails(item)">
        <ion-icon class="act-type working" item-left></ion-icon>
        <h3 class="title">{{ item.name }}</h3>   
        <p class="desc">{{item.locationName}}</p>     
      </button>
    </ion-item-group>

  </ion-list>

</ion-content>

<!--<ion-header>
    
  <ion-navbar>
    <ion-buttons right>
      <button ion-button icon-only (click)="onAddProject()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>My Project List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
   <ion-list inset class="project">
    <button ion-item *ngFor="let item of listofItems" (click)="itemSelected(item.name)">
      {{ item.name }}
       <h3 >{{item.activity}}</h3>
       <ion-avatar item-left>
        <img src="assets/images/ico32_WorkingCat.png">
      </ion-avatar>
    </button>
    
  </ion-list>
</ion-content>-->
