page-messageinbox {
  .list h2 {
    font-weight: 500;
  }
  [item-right] {
    font-size: 1.3rem;
    position: absolute;
    top: 6px;
    right: 32px;
  }
  .badge-no {
    position: absolute;
    top: 20px;
    right: 0;
  }
}
