page-weekly {
.working-btn{
   background:url(assets/images/ico50_WorkingInput.png) no-repeat;
   background-size: contain;
   background-position: center;
   margin-bottom: 15px;
}

.meeting-btn{
   background:url(assets/images/ico50_MeetingInput.png) no-repeat;
   background-size: contain;
   background-position: center;
   margin-bottom: 15px;
}
.client-btn{
   background:url(assets/images/ico50_ClientInput.png) no-repeat;
   background-size: contain;
   background-position: center;
   margin-bottom: 15px;
}
.break-btn{
   background:url(assets/images/ico50_BreakInput.png) no-repeat;
   background-size: contain;
   background-position: center;
   margin-bottom: 15px;
}

.container-side-menu {
    width: 10%;
    top: 15%;
    right: 15px;
    position: absolute;
    margin: auto;
}

.container-side-menu .button {
    font-size: 10px;
}

.container-side-menu .button-icon .icon {
    display: block;
    font-size: 30px;
    margin-bottom: 3px !important;
}

.img-fix{
    margin-top: 30px;
}

.text-map{
    position: top;
}
.border{
    border: 1px solid black;
}

 #map {
        width: 100%;
        height: 200px;
      }

}
