page-adminleaves {
  .list h2 {
    font-weight: 500;
  }
  h3,
  .label p {
    font-size: 1.3rem;
    color: color($colors, dark-grey);
  }
  .item-block {
    padding: 4px 0 5px 16px;
  }
  .item.item-ios .checkbox-ios {
    position: absolute;
    top: 23px;
    left: 20px;
  }
}
