<ion-header class="custom center">

  <ion-toolbar class="transparent">
    <button ion-button icon-only menuToggle>
      <ion-icon name="ios-menu-outline"></ion-icon>
    </button>

    <ion-title>{{datenow | formatDate}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="emergencyDialPage()">
      <!--<button ion-button icon-only (click)="goToGeometry()">-->
        <ion-icon name="ios-alert-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <div *ngIf="status.clock=='CLOCK IN'" class="clockin-content">
    <h3 class="title-header">{{organization}}</h3>
    <p class="title-header">{{stationname}}</p>
    <p class="schedule-desc">{{shiftSchedule}}</p>
  </div>

  <div *ngIf="status.clock=='CLOCK OUT'" class="clockin-content">

    <div *ngIf="status.break=='BREAK'">
      <!--<h1 class="ETA-header">{{time.current | formatTime}}</h1>-->
      <h1 class="ETA-header">{{clockedInTimeString}}</h1>
      <p class="break-time disable">
        <ion-icon name="ios-cafe-outline"></ion-icon>
        <!--<span>{{time.break | formatTime}}</span>-->
        <span>{{breakTimeString}}</span>
      </p>
    </div>

    <div *ngIf="status.break=='RESUME'">
      <!--<h1 class="ETA-header disable">{{time.break | formatTime}}</h1>-->
      <h1 class="ETA-header disable">{{breakTimeString}}</h1>
      <p class="break-time">
        <ion-icon name="ios-cafe-outline"></ion-icon>
        <!--<span>{{time.current | formatTime}}</span>-->
        <span>{{clockedInTimeString}}</span>
      </p>
    </div>

  </div>

  <div *ngIf="status.clock=='END CLOCK'" class="clockin-content">
    <div *ngIf="status.break=='DAY OFF'">
      <h1 class="ETA-header">{{clockedInTimeString}}</h1>
      <!--<h1 class="ETA-header">{{time.break | formatTime}}</h1>-->
      <p class="break-time disable">
        <ion-icon name="ios-cafe-outline"></ion-icon>
        <span>{{breakTimeString}}</span>
        <!--<span>{{time.break | formatTime}}</span>-->
      </p>
    </div>
  </div>


  <div class="buttons-wrapper">

    <div *ngIf="status.clock=='CLOCK IN'">
      <button ion-button class="primary-btn" (click)="goToClock()">{{status.clock}}</button>
    </div>

    <div *ngIf="status.clock=='END CLOCK'">
      <button ion-button class="primary-btn" (click)="goToClock()">CLOCK IN</button>
    </div>

    <div *ngIf="status.clock=='CLOCK OUT'">
      <ion-row class="half">
        <ion-col col-6>
          <button ion-button class="opac-secondary-btn" (click)="goToClock()" [disabled]="onbreak">{{status.clock}}</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button class="opac-secondary-btn" (click)="goToBreak()">{{status.break}}</button>
        </ion-col>
      </ion-row>
    </div>

    <!--<div *ngIf="status.clock== 'END CLOCK'">-->
    <!--<button ion-button class="opac-secondary-btn" (click)="goToTimeSheet()">VIEW TIMESHEET</button>-->
    <!--</div>-->

    <button ion-button class="opac-secondary-btn" [disabled]="onbreak" (click)="mySchedulePage()">{{scheduleTitle}}</button>

  </div>

</ion-header>

<ion-content>

  <div *ngIf="status.clock=='CLOCK IN'" #map1 id="map1"></div>

  <ion-list no-lines *ngIf="status.clock=='CLOCK OUT'" class="listing timeline">

    <ion-item-group>
      <ion-item-divider>{{'CURRENT_ACTIVITY' | translate}}</ion-item-divider>
      <ion-item>
        <ion-icon *ngIf="currentActivity.title == 'On break'" class="act-type break" item-left></ion-icon>
        <ion-icon *ngIf="currentActivity.title != 'On break'" class="act-type working" item-left></ion-icon>
        <p class="timestamp">Since {{currentActivity.from | formatTime}}</p>
        <h3 class="title">{{currentActivity.title}}</h3>
        <p class="desc" *ngIf="currentActivity.title != 'On break'"><span class="location">{{currentActivity.location}}</span> . {{currentActivity.currentWork}}</p>
        <ion-note item-right *ngIf="status.break == 'BREAK'">
          <button ion-button item-right class="icon-btn default" *ngIf="status.break == 'BREAK'" (click)="presentModal()">
            <ion-icon name="ios-more"></ion-icon>
          </button>
        </ion-note>
      </ion-item>
    </ion-item-group>

    <!--   *ngIf="status.break == 'BREAK'"  -->
    <ion-item-group class="bg-timeline">
      <ion-item-divider>TIMELINE</ion-item-divider>
      <ion-item *ngFor="let item of activity">
        <ion-icon *ngIf="item.title == 'On break'" class="act-type break" item-left></ion-icon>
        <ion-icon *ngIf="item.title != 'On break'" class="act-type working" item-left></ion-icon>
        <p class="timestamp" *ngIf="item.activity != 'clockin'">{{item.from | formatTime}} - {{item.to | formatTime}}</p>
        <p class="timestamp" *ngIf="item.activity == 'clockin'">{{item.from | formatTime}}</p>
        <h3 class="title">{{item.title}}</h3>
        <!--<h3 class="title" *ngIf="item.title != 'On break'">{{item.currentWork}}</h3>-->
        <p class="desc" *ngIf="item.title != 'On break'">{{item.location}} . {{item.currentWork}}</p>
        <!--<p class="desc"  *ngIf="item.title != 'On break'" ><span class="location">{{item.location}}</span> . {{item.currentWork}}</p> -->
        <ion-note item-right *ngIf="item.activity != 'clockin'">{{item.duration}}</ion-note>
      </ion-item>
    </ion-item-group>

  </ion-list>

  <ion-list no-lines *ngIf="status.clock=='END CLOCK'" class="listing timeline">
    <ion-item-group class="bg-timeline complete">
      <ion-item-divider>TIMELINE</ion-item-divider>
      <ion-item *ngFor="let item of activity">
        <ion-icon *ngIf="item.title == 'On break'" class="act-type break" item-left></ion-icon>
        <ion-icon *ngIf="item.title != 'On break'" class="act-type working" item-left></ion-icon>
        <p class="timestamp" *ngIf="item.activity != 'clockin'">{{item.from | formatTime}} - {{item.to | formatTime}}</p>
        <p class="timestamp" *ngIf="item.activity == 'clockin'">{{item.from | formatTime}}</p>
        <h3 class="title">{{item.title}}</h3>
        <!--<h3 class="title" *ngIf="item.title != 'On break'">{{item.currentWork}}</h3>-->
        <!-- item.activity != 'clockin' ||  -->
        <p class="desc" *ngIf="item.title != 'On break'">{{item.location}} . {{item.currentWork}}</p>
        <!-- dynamic-->
        <!--<p class="desc"  *ngIf="item.title != 'On break'"><span class="location">{{item.location}}</span> . {{item.currentWork}}</p>  dynamic-->
        <ion-note item-right *ngIf="item.activity != 'clockin'">{{item.duration}}</ion-note>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <!--<div #map1 id="map1"></div> -->

</ion-content>