// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #14A5CC,
  secondary:  #5FCB8B,
  danger:     #F04455,
  light:      #f4f4f4,
  dark:       #554499,
  gold:       #14A5CC,
  light-gold: #f4f4f4,
  dark-gold: #1CC99C,
  green: 	  #11b700,
  blue: 	  #687DCA,
  light-grey: #eee,
  light-text: #91A4B2,

  main-blue:  #14A5CC,
  light-blue: #4EBBD8,
  dark-blue:  #1190B2,
  main-green: #5FCB8B,
  dark-green: #02AC37,
  main-red:   #F04455,
  amber:      #FF9700,
  ash-purple: #554499,
  ash-grey:   #90A4B4,
  asher-grey: #B5C6D3,
  dark-grey:  #737E85,
  fade-grey:  #EFF3F6, 
  white:    #ffffff,
  grey-line:  #e5e5e5,
  turqoise:   #1CC99C,
  alt-bg:     #f8f8f8
);



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$list-ios-header-font-size: 1.5rem;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$toolbar-md-title-text-align: center;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$toolbar-background:#14A5CC;
$fab-list-button-background-color: #14A5CC;



// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
