<ion-menu [content]="content" id="left_menu">
  <ion-header menuClose (click)="viewProfile()">
    <ion-toolbar>
      <ion-avatar item-left>
        <img src="assets/images/avatar_default.svg" class="avatar" />
      </ion-avatar>
      <div class="table sidebar">
        <div class="table-cell valign-middle">
          <h3 class="title">{{personName}}</h3>
          <div class="position">{{companyName}}</div>
        </div>
      </div>
      <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list no-lines class="custom">

      <button menuClose ion-item (click)="goToHome()">
        <ion-icon item-left name="svg-home"></ion-icon>
        <label>Home</label>
      </button>

      <button menuClose ion-item (click)="messageInbox()">
        <ion-icon item-left name="ios-notifications-outline"></ion-icon>
        <label>Messages</label>
        <ion-note item-right><span class="badge-no">2</span></ion-note>
      </button>

      <button menuClose ion-item (click)="adminDashboard()">
        <ion-icon item-left name="ios-checkmark-circle-outline"></ion-icon>
        <label>Admin Dashboard</label>
        <ion-note item-right><span class="badge-no">2</span></ion-note>
      </button>
    </ion-list>

      <!-- <button menu-close ion-item>
        <ion-icon item-left name="ar_icon"></ion-icon>
        <label>Augmented Reality</label>
        <ion-note item-right><span class="badge-no">0</span></ion-note>
      </button>  -->

    <ion-list *ngFor="let p of pages2;" no-lines>
      <ion-list-header *ngIf="p.group">{{ p.group }}</ion-list-header>
      <button menuClose ion-item *ngFor="let p1 of p.pages" (click)="openPage(p1)">
        <ion-icon item-left name="{{p1.icon}}"></ion-icon>
        <label>{{p1.title}}</label>
      </button>
    </ion-list>

  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav id="nav" #content [root]="rootPage" swipeBackEnabled="flase"></ion-nav>