// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
* {
  letter-spacing: 0.015rem;
}

[dir="ltr"],
[dir="rtl"] {
  body {
    min-height: 550px;
  }
  .alt-bg {
    background-color: color($colors, alt-bg);
    .list:last-child.border-bottom {
      .item-block:last-child {
        border-bottom: 1px solid color($colors, grey-line);
      }
    }
  }
  .scrollable {
    overflow: scroll;
  } //--- NAVBAR ---//
  ion-header {
    background: linear-gradient(37deg, #14A5CC 69%, #18B9B2 100%);
    color: #fff;
    &.green {
      background: color($colors, dark-green);
    }
    .sub-notes {
      font-weight: 600;
      font-size: 1.4rem;
      padding: 0 16px;
      text-align: center;
    }
  }
  ion-toolbar,
  ion-navbar {
    .toolbar-background {
      background: transparent;
      border-width: 0 !important;
    }
    .ion-ios-arrow-back:before {
      content: "\f117";
    }
  }
  ion-title .toolbar-title {
    font-weight: 400;
  }
  .bar-button,
  .bar-buttons {
    font-size: 1.4rem;
    min-width: 23px !important;
    &[end] {
      padding-right: 3px;
    }
  }
  .bar-button-ios[icon-only] {
    ion-icon {
      &.ion-ios-add {
        font-size: 2.3em;
        padding-right: 3px;
      }
      &.ion-ios-close {
        font-size: 3.4rem;
        padding-left: 10px;
      }
    }
  }
  /* Segment Toogle */
  .segment .segment-button {
    border: 1px solid #fff;
    color: #fff;
    &.segment-activated {
      background: #fff;
      color: color($colors, main-blue);
    }
  }
  ion-header>.toolbar.statusbar-padding:first-child ion-segment {
    padding-top: 0 !important;
    min-height: auto !important;
    height: auto !important;
  }
  /* Back Button */
  .bar-button-menutoggle-ios ion-icon[name="ios-arrow-round-back-outline"],
  .bar-button-menutoggle-ios ion-icon[name="ios-arrow-round-back"],
  .back-button-icon {
    font-size: 3.7rem;
    padding-left: 3px;
  }
  .back-button-text {
    display: none;
  }
  /* Bottom Tabbar */
  .tabs .tabbar {
    background: #fff;
  } //--- BUTTONS ---//
  .item {
    font-size: 1.6rem;
  }
  .button {
    border-radius: 0;
    font-weight: 500;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    height: 45px;
    color: #fff;
    width: 100%;
  }
  .button-clear {
    font-weight: normal;
    text-transform: none;
    font-size: 1.4rem;
    ion-icon {
      font-size: 2rem;
    }
  }
  .button-outline {
    border-color: #e5e5e5;
    color: color($colors, ash-grey);
    height: 42px;
    ion-icon {
      color: color($colors, asher-grey);
    }
  }
  .primary-btn {
    background: color($colors, main-green);
  }
  .secondary-btn {
    background: color($colors, main-blue);
  }
  .default-btn {
    background: color($colors, ash-grey);
  }
  .opac-secondary-btn {
    background: color($colors, light-blue);
  }
  .warning-btn {
    background: color($colors, main-red);
  }
  .icon-btn {
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    ion-icon {
      font-size: 3rem;
      color: #fff;
    }
    &.default {
      background: color($colors, asher-grey);
    }
    &.clear {
      background: transparent;
    }
    &.float {
      background: #fff;
      box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.2);
      ion-icon {
        color: color($colors, ash-grey);
      }
    }
    &.round {
      border-radius: 50%;
    }
    &.expand-collapse {
      width: 25px;
      ion-icon {
        font-size: 2rem;
      }
    }
  } //--- HEADINGS ---//
  h1.ETA-header {
    font-size: 45px;
  }
  .subheader {
    padding: 7px;
    text-align: center;
  } //--- SIDE MENU SIDEBAR ---//
  #left_menu {
    .toolbar-background {
      border-width: 0;
    }
    .item {
      font-size: 1.4rem;
      .item-inner {
        background-image: none;
      }
    }
    ion-icon {
      color: color($colors, main-blue);
      font-size: 2.3rem;
      margin-top: 6px;
      margin-bottom: 0;
    }
    ion-list-header {
      border-bottom: 1px solid #eee;
      margin-bottom: 10px;
      color: #fff;
      overflow: hidden;
      min-height: 23px;
      height: 23px;
    }
    .custom {
      margin-top: 10px;
    }
    .avatar {
      margin: 16px;
      float: left;
    }
    ion-header {
      position: relative;
      ion-icon {
        color: #fff;
        position: absolute;
        right: 16px;
        top: 45px;
        opacity: 0.5;
      }
      .title {
        font-size: 1.5rem; // margin: 35px 0 3px 0;
        margin: 0;
        width: 100%;
        padding-right: 30px;
      }
      .position {
        font-size: 1.3rem;
        color: #9AD8E1;
      }
    }
    .badge-no {
      right: 18px;
      position: absolute;
      top: 13px;
    }
    .table.sidebar {
      height: 107px;
    }
  }
  .badge-no {
    background: color($colors, main-red);
    color: #fff;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 1px;
  }
  .avatar {
    max-width: 75px;
    width: 100%;
    height: auto;
    border-radius: 50%;
  } //--- WRAPPERS ---//
  .buttons-wrapper {
    padding: 12px 12px 5px;
    button {
      margin: 0 0 10px 0;
      padding: 0;
    }
    .col {
      padding: 0;
    }
    &.bottom {
      border-top: 1px solid color($colors, grey-line);
    }
    &.stick {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: #fff;
    }
  }
  /* Calendar */
  .calendar-wrapper {
    overflow: hidden;
    position: relative;
    .calendar-month {
      height: 50px;
      h5 {
        font-weight: 400;
        margin: 0;
        padding: 18px 50px 0 50px;
        font-size: 1.7rem;
      }
      button {
        position: absolute;
        top: 0;
      }
      .back {
        left: 0;
      }
      .forward {
        right: 0;
      }
    }
    .calendar-week {
      .weeks {
        span {
          width: (100%/7);
          display: inline-block;
          font-size: 1rem;
          font-weight: 300;
          letter-spacing: 1px;
          color: #fff;
          text-align: center;
        }
      }
      .day-btn {
        width: (100%/7);
        display: inline-block;
        margin: 0;
        padding: 0;
        background-color: transparent;
        height: 65px;
        &.active {
          background: color($colors, dark-blue);
        }
        .button-inner {
          display: block;
        }
        .days {
          font-size: 1.8rem;
          font-weight: 400;
          padding: 10px 0 3px 0;
          &.fade {
            opacity: 0.4;
          }
        }
        .hours {
          font-size: 1.1rem;
          opacity: 0.9;
          &.fade {
            opacity: 0;
          }
        }
        .status {
          font-size: 2.5rem;
          color: color($colors, main-green);
          margin-top: -4px;
        }
      }
    }
  }
  /* Pie Chart */
  .pie-chart-wrapper {
    display: block;
    padding: 20px;
    position: relative;
    .pie-chart {
      width: 100% !important;
      max-width: 220px;
      height: auto !important;
      margin: 0 auto;
    }
    .actual {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      padding: 20px;
    }
    .shadow {
      height: 230px;
    }
    .shadow::after {
      display: block;
      width: 90px;
      height: 90px;
      background-color: #fff;
      content: '';
      position: relative;
      top: -155px;
      margin: 0 auto;
      border-radius: 50%;
    }
    .legend {
      text-align: center;
      ion-icon.act-type {
        width: 22px;
        height: 22px;
        font-size: 1.4rem;
        line-height: 2.2rem;
        margin-right: 40px; // &::after {
        //   position: absolute;
        //   padding-left: 14px;
        //   font-size: 1.2rem;
        //   font-family: sans-serif;
        // }
        // &.meeting {
        //   margin-right: 56px;
        // }
      } // .working::after {
      //   content: 'Work';
      //   color: color($colors, main-blue);
      // }
      // .meeting::after {
      //   content: 'Meeting';
      //   color: color($colors, ash-purple);
      // }
      // .client::after {
      //   content: 'Client';
      //   color: color($colors, main-green);
      // }
      // .break::after {
      //   content: 'Break';
      //   color: color($colors, ash-grey);
      // }
    }
  }
  /* Parallax - Locate */
  .parallax.main-content {
    background-color: #fff;
    width: 100%;
    margin-top: -3px;
  }
  /* Maps */
  .journey-map,
  .map-wrapper {
    overflow: hidden;
    height: 193px;
    position: relative;
    img {
      width: 100%;
    }
    button {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  } //--- COL TRICKS ---//
  .row.half {
    padding: 0 5px;
    .col:first-child {
      margin: 0 5px 0 -5px;
    }
    .col:last-child {
      margin: 0 -5px 0 5px;
    }
  } //--- LISTINGS ---//
  /* Divider */
  .item-divider {
    background: color($colors, fade-grey);
    min-height: 23px;
    ion-label {
      font-size: 1.2rem;
      margin: 0 !important;
      color: color($colors, dark-grey);
      font-weight: 600;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
    }
    &.amber {
      background: color($colors, amber);
      ion-label {
        color: #fff;
      }
    }
    .right {
      padding-right: 16px;
    }
  }
  /* Ion List */
  .listing {
    .title {
      font-size: 1.5rem;
      white-space: normal;
    }
    .timestamp {
      color: color($colors, ash-grey);
      font-size: 1.3rem;
    }
    .desc {
      color: color($colors, dark-grey);
      font-size: 1.3rem;
      overflow: initial;
      text-overflow: initial;
      white-space: normal; // overflow: hidden;
      // text-overflow: ellipsis;
      .location {
        // max-width: 140px;
        display: inline-block;
        position: relative; //top: 3px;
      }
    }
    [item-right] {
      margin: 0 2px 0 5px;
      color: color($colors, dark-grey);
      font-size: 1.5rem;
    }
    .bg-timeline {
      .item-block {
        background: url(../assets/images/bg_timeline.svg) repeat-y 31px 0;
      }
      .item-block:last-child {
        background-repeat: no-repeat;
        background-position: 31px top;
      }
      &.complete {
        .item-block:nth-child(2) {
          background-repeat: no-repeat;
          background-position: 31px bottom;
        }
      }
    }
  }
  .list.border-bottom {
    .item-block {
      border-bottom: 1px solid color($colors, grey-line);
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  .list-ios>.item-block:first-child {
    border-top: 0;
  }
  .list ion-avatar[large] img {
    width: 59px;
    height: 59px;
  }
  .text-input-ios {
    margin: 0;
    padding: 11px 8px 11px 0;
  }
  /* List with Labels */
  .details {
    .item-block {
      padding-top: 3px;
      padding-bottom: 3px;
    }
    label {
      display: inline-block;
      font-size: 1.3rem;
      color: #90A4B4;
      max-width: 110px;
      min-width: 120px;
      padding-right: 15px;
      vertical-align: top;
      padding-top: 2px;
    }
    .title {
      display: inline-block;
      font-size: 1.5rem;
      width: 100%;
      padding-right: 120px;
      span {
        display: block;
        padding-bottom: 7px;
        &:last-child {
          padding-bottom: 0;
        }
        &.timestamp {
          padding: 7px 0 0 0;
          color: color($colors, ash-grey);
          font-size: 1.3rem;
          &:first-child {
            padding-top: 0;
          }
        }
      }
    }
    [item-right] {
      margin: 0;
      button {
        width: 42px;
        height: 42px;
        &.clear {
          background: transparent;
          ion-icon {
            color: color($colors, main-blue);
          }
        }
      }
    }
  }
  /* Statistics Grids */
  .stat-grids {
    .label {
      color: color($colors, ash-grey);
      margin-bottom: 0;
      font-size: 1.3rem;
    }
    h3 {
      margin-top: 4px;
      margin-bottom: 15px;
      font-size: 1.7rem;
      font-weight: 400;
      color: #000;
    }
    ion-row .grid {
      background: #fff;
      border-right: 1px solid color($colors, grey-line);
      border-bottom: 1px solid color($colors, grey-line);
      &:nth-child(even) {
        border-right: 0;
      }
    }
  } //--- ICONS ---//
  /* Tabbar */
  .ion-md-svg-attendance,
  .ion-ios-svg-attendance {
    content: url(../assets/images/tab_clockin_active.svg);
    &-outline {
      content: url(../assets/images/tab_clockin.svg);
    }
  }
  .ion-md-svg-timesheet,
  .ion-ios-svg-timesheet {
    content: url(../assets/images/tab_timesheet_active.svg);
    &-outline {
      content: url(../assets/images/tab_timesheet.svg);
    }
  }
  .ion-md-svg-locate,
  .ion-ios-svg-locate {
    content: url(../assets/images/tab_locate_active.svg);
    &-outline {
      content: url(../assets/images/tab_locate.svg);
    }
  }
  .ion-md-svg-dashboard,
  .ion-ios-svg-dashboard {
    content: url(../assets/images/tab_training_active.svg);
    &-outline {
      content: url(../assets/images/tab_training.svg);
    }
  }
  .ion-md-svg-message,
  .ion-ios-svg-message {
    content: url(../assets/images/tab_message_active.svg);
    &-outline {
      content: url(../assets/images/tab_message.svg);
    }
  }
  .ion-md-svg-expense,
  .ion-ios-svg-expense {
    content: url(../assets/images/tab_expense_active.svg);
    &-outline {
      content: url(../assets/images/tab_expense.svg);
    }
  }
  /* Sidebar */
  .ion-md-svg-home:before,
  .ion-ios-svg-home:before {
    content: url(../assets/images/svg_home.svg);
  }
  .ion-md-svg-report:before,
  .ion-ios-svg-report:before {
    content: url(../assets/images/svg_report.svg);
  }
  .ion-md-svg-accesscard:before,
  .ion-ios-svg-accesscard:before {
    content: url(../assets/images/svg_accesscard.svg);
  }
  .ion-md-svg-expense:before,
  .ion-ios-svg-expense:before {
    content: url(../assets/images/svg_expense.svg);
  }
  .ion-md-svg-medicalcard:before,
  .ion-ios-svg-medicalcard:before {
    content: url(../assets/images/svg_medicalcard.svg);
  }
  .ion-md-svg-meetingroom:before,
  .ion-ios-svg-meetingroom:before {
    content: url(../assets/images/svg_meetingroom.svg);
  }
  .ion-md-svg-mobile:before,
  .ion-ios-svg-mobile:before {
    content: url(../assets/images/svg_mobile.svg);
  }
  .ion-md-svg-services:before,
  .ion-ios-svg-services:before {
    content: url(../assets/images/svg_services.svg);
  }
  .ion-md-svg-settings:before,
  .ion-ios-svg-settings:before {
    content: url(../assets/images/svg_settings.svg);
  }
  .ion-md-svg-courses:before,
  .ion-ios-svg-courses:before {
    content: url(../assets/images/svg_courses.svg);
  }
  /* Activity Type */
  ion-icon.act-type {
    color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 2.1rem;
    line-height: 3rem;
    &.working {
      background: color($colors, main-blue);
      &:before {
        content: "\f3ed";
      }
    }
    &.meeting {
      background: color($colors, ash-purple);
      &:before {
        content: "\f3f3";
      }
    }
    &.client {
      background: color($colors, turqoise);
      font-size: 2.5rem;
      &:before {
        content: "\f47d";
      }
    }
    &.break {
      background-color: #fff;
      border: 1px solid color($colors, grey-line);
      color: color($colors, asher-grey);
      &:before {
        content: "\f13b";
      }
    }
    &.calendar {
      background-color: #fff;
      border: 1px solid color($colors, grey-line);
      color: color($colors, asher-grey);
      &:before {
        content: "\f3f3";
      }
    }
    &.location {
      background-color: #fff;
      border: 1px solid color($colors, grey-line);
      color: color($colors, asher-grey);
      &:before {
        content: "\f1e4";
      }
    }
  } //--- PRESETS ---//
  .gap,
  .gap.list {
    margin-top: 20px !important;
    border-top: 1px solid color($colors, grey-line);
  }
  .gap.bottom {
    border-bottom: 1px solid color($colors, grey-line);
  }
  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .center {
    text-align: center;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .clear {
    clear: both;
  }
  .disable {
    opacity: 0.35;
  }
  .side-padding {
    padding: 0 16px;
  }
  small {
    font-size: 1.3rem;
    color: color($colors, dark-grey);
  }
  .stick-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .table {
    display: table;
  }
  .table-cell {
    display: table-cell;
  }
  .valign-middle {
    vertical-align: middle;
  }
  .label h2,
  .label p {
    white-space: normal;
  } //--- INPUTS ---//
  // [dir="ltr"] .list-ios[inset],
  // [dir="rtl"] .list-ios[inset] {
  //   margin: 0;
  // }
  // [dir="ltr"] ion-list[inset],
  // [dir="ltr"] .list-ios[inset],
  // [dir="ltr"] .list[inset],
  // [dir="rtl"] ion-list[inset],
  // [dir="rtl"] .list-ios[inset],
  // [dir="rtl"] .list[inset],
  ion-list[inset],
  .list-ios[inset],
  .list[inset] {
    border-radius: 0;
    margin: 0;
    .item {
      border-bottom: 1px solid color($colors, grey-line);
      padding: 2px 0 2px 16px;
    }
    ion-label {
      font-size: 1.3rem;
      color: color($colors, ash-grey);
      max-width: 100px;
      min-width: 100px;
    }
    ion-select {
      max-width: 100%;
      width: 100%;
      .select-text {
        font-size: 1.5rem;
      }
    }
  }
  .item-radio ion-label {
    white-space: normal;
  }
  .text-input {
    font-size: 1.5rem;
  }
  .alert-ios .alert-title {
    // padding-bottom: 10px;
  }
  /* Search Input */
  .searchbar {
    background: #fff;
    padding: 10px;
  }
  .searchbar-ios .searchbar-input {
    border-radius: 0;
    border: 1px solid color($colors, grey-line);
    padding: 19px 28px;
    font-size: 1.5rem;
  }
  .searchbar-ios.searchbar-left-aligned .searchbar-input {
    padding-left: 35px;
  }
  .searchbar-ios .searchbar-search-icon {
    background-size: 18px;
    width: 20px;
    height: 20px;
    top: 10px;
    opacity: 0.5;
  }
  .parallax.main-content {
    .search-wrapper {
      position: relative;
      .icon-btn {
        position: absolute;
        right: 2px;
        bottom: 2px;
        .icon-ios {
          color: color($colors, ash-grey);
        }
      }
    }
    .searchbar-input {
      width: calc(100% - 47px);
    }
  } //--- OVERRIDE ---//
  .list,
  .list-ios,
  .list-ios[inset] {
    margin: 0;
  }
  ion-header ion-segment {
    position: inherit !important;
  }
  .item-ios p {
    color: color($colors, ash-grey);
  } //--- DIR ---//
  // [dir="ltr"] .list-ios,
  // [dir="rtl"] .list-ios {
  //   margin: 0;
  // }
  // .button-ios,
  // [dir="ltr"] .button-ios,
  // [dir="rtl"] .button-ios {
  //   border-radius: 0;
  // }
  //--- ---//
  // .facebook-btn {
  //   background-color: #3773B8 !important;
  // }
  // .center-text {
  //   text-align: center;
  //   vertical-align: middle;
  //   color: #0CDAF2;
  //   letter-spacing: -0.15px;
  //   text-shadow: 0 2px 4px rgba(0, 0, 0, 0.29);
  // }
  // .center-text.larger {
  //   font-size: 35px !important;
  //   ;
  // }
  // .center-text.large {
  //   font-size: 25px !important;
  //   ;
  // }
  // .center-text.medium {
  //   font-size: 15px !important;
  //   ;
  // }
  // .center-text.small {
  //   font-size: 13px !important;
  //   ;
  // }
  // .bar.bar-stable {
  //   background: linear-gradient(to right, #14A5CC 19%, #1CC99C 100%);
  //   color: #f4f4f4;
  // }
  // .bar.bar-stable .title {
  //   color: #f4f4f4;
  // }
  // .white-border {
  //   border-color: white !important;
  // }
  // .extra-padding {
  //   padding: 3px !important;
  // }
  // .segment-custom {
  //   padding: 16px 0px !important;
  //   border-color: white;
  // }
  // .button-fix {
  //   margin-top: -5px;
  // }
  // .invalid {
  //   color: red !important;
  // }
  // .border {
  //   border: 1px solid gray;
  //   background-color: white;
  // }
  // .title-md {
  //   text-align: center;
  // }
  // .page-timesheet .active {
  //   background-color: white;
  // }
  /* TEMPO */
  .in-progress {
    font-size: 16px;
    color: #8F8E94;
    letter-spacing: -0.19px;
    line-height: 23px;
    padding: 0px 16px 0px 16px;
    text-align: center;
    margin-top: 30%;
    img {
      height: 40px;
      margin-bottom: 20px;
    }
  }
}
