<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="ios-menu-outline"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="timesheet_admin">
      <ion-segment-button value="timesheets">
        Timesheets
      </ion-segment-button>
      <ion-segment-button value="report">
        Report
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="selectItem()">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
    </ion-buttons>


  </ion-navbar>

  <ion-searchbar></ion-searchbar>


</ion-header>

<ion-content class="alt-bg has-footer" no-bouce>

  <div [ngSwitch]="timesheet_admin">
    <div *ngSwitchCase="'timesheets'">

      <!--<div class="scrollable">-->
      <ion-list no-lines class="border-bottom">

        <button ion-item>
          <ion-checkbox item-left *ngIf="buttonClicked"></ion-checkbox>
          <ion-avatar item-left>
            <img src="assets/images/avatar_default.svg" *ngIf="!buttonClicked">
          </ion-avatar>
          <h3>5 Jun 2017</h3>
          <h2>Muhammad bin Iswan</h2>
          <p>Timesheet for 29 May - 4 Jun 2017</p>
          <ion-note item-right>
            42:00 hrs
          </ion-note>
        </button>

        <button ion-item>
          <ion-checkbox item-left *ngIf="buttonClicked"></ion-checkbox>
          <ion-avatar item-left>
            <img src="assets/images/avatar_default.svg" *ngIf="!buttonClicked">
          </ion-avatar>
          <h3>5 Jun 2017</h3>
          <h2>Siti Fatimah binti Ali</h2>
          <p>Timesheet for 29 May - 4 Jun 2017</p>
          <ion-note item-right>
            40:00 hrs
          </ion-note>
        </button>

        <button ion-item>
          <ion-checkbox item-left *ngIf="buttonClicked"></ion-checkbox>
          <ion-avatar item-left>
            <img src="assets/images/avatar_default.svg" *ngIf="!buttonClicked">
          </ion-avatar>
          <h3>5 Jun 2017</h3>
          <h2>Christopher Lee</h2>
          <p>Timesheet for 29 May - 4 Jun 2017</p>
          <ion-note item-right>
            46:00 hrs
          </ion-note>
        </button>

        <button ion-item>
          <ion-checkbox item-left *ngIf="buttonClicked"></ion-checkbox>
          <ion-avatar item-left>
            <img src="assets/images/avatar_default.svg" *ngIf="!buttonClicked">
          </ion-avatar>
          <h3>29 May 2017</h3>
          <h2>Christopher Lee</h2>
          <p>Timesheet for 22 May - 28 May 2017</p>
          <ion-note item-right>
            43:00 hrs
          </ion-note>
        </button>


        <!---->
        <button ion-item>
          <ion-checkbox item-left *ngIf="buttonClicked"></ion-checkbox>
          <ion-avatar item-left>
            <img src="assets/images/avatar_default.svg" *ngIf="!buttonClicked">
          </ion-avatar>
          <h3>29 May 2017</h3>
          <h2>Christopher Lee</h2>
          <p>Timesheet for 22 May - 28 May 2017</p>
          <ion-note item-right>
            43:00 hrs
          </ion-note>
        </button>
        <button ion-item>
          <ion-checkbox item-left *ngIf="buttonClicked"></ion-checkbox>
          <ion-avatar item-left>
            <img src="assets/images/avatar_default.svg" *ngIf="!buttonClicked">
          </ion-avatar>
          <h3>29 May 2017</h3>
          <h2>Christopher Lee</h2>
          <p>Timesheet for 22 May - 28 May 2017</p>
          <ion-note item-right>
            43:00 hrs
          </ion-note>
        </button>
        <button ion-item>
          <ion-checkbox item-left *ngIf="buttonClicked"></ion-checkbox>
          <ion-avatar item-left>
            <img src="assets/images/avatar_default.svg" *ngIf="!buttonClicked">
          </ion-avatar>
          <h3>29 May 2017</h3>
          <h2>Christopher Lee</h2>
          <p>Timesheet for 22 May - 28 May 2017</p>
          <ion-note item-right>
            43:00 hrs
          </ion-note>
        </button>
        <button ion-item>
          <ion-checkbox item-left *ngIf="buttonClicked"></ion-checkbox>
          <ion-avatar item-left>
            <img src="assets/images/avatar_default.svg" *ngIf="!buttonClicked">
          </ion-avatar>
          <h3>29 May 2017</h3>
          <h2>Christopher Lee</h2>
          <p>Timesheet for 22 May - 28 May 2017</p>
          <ion-note item-right>
            43:00 hrs
          </ion-note>
        </button>
        <button ion-item>
          <ion-checkbox item-left *ngIf="buttonClicked"></ion-checkbox>
          <ion-avatar item-left>
            <img src="assets/images/avatar_default.svg" *ngIf="!buttonClicked">
          </ion-avatar>
          <h3>29 May 2017</h3>
          <h2>Christopher Lee</h2>
          <p>Timesheet for 22 May - 28 May 2017</p>
          <ion-note item-right>
            43:00 hrs
          </ion-note>
        </button>
        <!---->


      </ion-list>
      <!--</div>-->

      <div *ngIf="buttonClicked" class="toggle-footer"></div>

    </div>

    <div *ngSwitchCase="'report'">
      <div class="in-progress">
        <img src="assets/images/svg_inprogress.svg">
        <div>This page is under construction</div>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer *ngIf="buttonClicked">
  <div class="buttons-wrapper bottom stick">
    <ion-row class="half">
      <ion-col col-6 class="select-all">
        <ion-checkbox item-left></ion-checkbox> SELECT ALL
      </ion-col>
      <ion-col col-6 class="selected">
        2 selected
      </ion-col>
    </ion-row>

    <ion-row class="half">
      <ion-col col-6>
        <button ion-button class="primary-btn">Approve</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button class="warning-btn">Reject</button>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>
