page-signup {}

.alert-ios.fingerprint .alert-button:last-child {
  font-weight: normal;
}

.alert-ios.fingerprint .alert-button {
  border-top: 0;
}

.alert-ios.fingerprint .alert-head {
  padding-bottom: 70px;
  background: url(../assets/images/svg_fingerprint.svg) no-repeat center bottom;
}

.alert-ios.fingerprint .button-inner {
  color: #ccc;
}

.alert-ios.fingerprint .alert-title {
  padding-bottom: 10px;
}
